project-management-system/HELP.md
project-management-system/target/
project-management-system/!.mvn/wrapper/maven-wrapper.jar
project-management-system/!**/src/main/**/target/
project-management-system/!**/src/test/**/target/

### STS ###
project-management-system/.apt_generated
project-management-system/.classpath
project-management-system/.factorypath
project-management-system/.project
project-management-system/.settings
project-management-system/.springBeans
project-management-system/.sts4-cache

### IntelliJ IDEA ###
project-management-system/.idea
project-management-system/*.iws
project-management-system/*.iml
project-management-system/*.ipr

### NetBeans ###
project-management-system/nbproject/private/
project-management-system/nbbuild/
project-management-system/dist/
project-management-system/nbdist/
project-management-system/.nb-gradle/
project-management-system/build/
project-management-system/!**/src/main/**/build/
project-management-system/!**/src/test/**/build/

### VS Code ###
project-management-system/.vscode/

project-management-system/src/main/resources/application.properties


# UI Project
# Logs
project-management-system-ui/logs
project-management-system-ui/*.log
project-management-system-ui/npm-debug.log*
project-management-system-ui/yarn-debug.log*
project-management-system-ui/yarn-error.log*
project-management-system-ui/pnpm-debug.log*
project-management-system-ui/lerna-debug.log*

project-management-system-ui/node_modules
project-management-system-ui/dist
project-management-system-ui/dist-ssr
project-management-system-ui/*.local

# Editor directories and files
project-management-system-ui/.vscode/*
project-management-system-ui/!.vscode/extensions.json
project-management-system-ui/.idea
project-management-system-ui/.DS_Store
project-management-system-ui/*.suo
project-management-system-ui/*.ntvs*
project-management-system-ui/*.njsproj
project-management-system-ui/*.sln
project-management-system-ui/*.sw?
